.App {
  text-align: center;
  display: flex;
  background-color: rgb(29, 39, 39);
  width:80%;
  height:50px;
  margin: auto;
  border-radius:3px;
  color: white;
}
.logobakery{
  font-weight: bold;
  color:white;
  width: 35%;
  padding:15px;
}
.services{
   width:8%;
   padding:15px;
}

.project{
  width:8%;
  padding:15px;
}
.about{
  width:8%;
  padding:15px;
}
.contact{
  width: 35%;
  padding:15px;
  text-align: right;
}
